#about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%; 
}

#phone{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%; 
}

#spray {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%; 
}

h1{
    text-align: center;
    border: 2px solid #598216;
    border-radius: 15px;
    padding: 20px 40px;
    background-color: #819A20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F1F1EF;
}

h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ac4728;
}

h3{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d20909;
}

p {
    text-align: center;
    color: #800000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

ol {
   list-style-position: inside;
     border: 2px solid #333;   
    border-radius: 15px;      
    padding: 20px 40px;      
    width: fit-content; 
    background-color: #5D4037;
    margin: 20px auto; 
    color: #F1F1EF;
}

body{
    background-color: #FFE770;
}

table {
  margin-left: auto;
  margin-right: auto;
}

#timeline {
    color: rgb(250, 31, 2);
}

#tractor {
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%; 
}

#products {
    color: #F1F1EF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

#combine{
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%; 

}

#plow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%; 
}

#blog{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%; 
}